#days{
  font-weight:bold;
  text-decoration: underline;
  color: #000000;
}

#topheader{
  margin: auto;
  width: 50%;
}

table, thead, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}
