#days{
  font-weight:bold;
  text-decoration: underline;
  color: #000000;
}

#navilinks{
  text-align:center;
}

#topheader{
  margin: auto;
  width: 50%;
  text-align: center;
}

table{
  border-collapse: collapse;
}
table, thead, tr, td {
  border: 1px solid black;
}
